@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

body{
    background: #252525;
    color: #f1f1f1;
}

.container{
    box-shadow: 0 0 10px #f1f1f1;
    width: 98%;
    padding: 1%;
    margin: 0 auto;
}

.title{
    text-align: center;
    box-shadow: 0 4px 0 #f1f1f1;
}

.header > .btn-group{
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.header > .btn-group > .btn > input[type="submit"],
.contents > .itemCreate > input[type="submit"]{
    padding: 15px;
    background: #8a8686;
    cursor: pointer;
    user-select: none;
    margin: 0 5px;
    text-align: center;
    border: none;
    color: #f1f1f1;
    font-weight: bold;
}


.item-details{
    display: flex;
    background: #252525;
    color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 5px #f1f1f1;
}

.item-details > table{
    width: 100%;
    text-align: center;
}

.item-details > table > tbody > tr > td > img{
    width: 100px;
}



.formOfItem{
    padding: 5px;
}

.formOfItem > .imagePreview{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    box-shadow: 0 0 7px #8a8686;
}

.formOfItem > .imagePreview > img{
    width: 100%;
    height: 100%;
}

.formOfItem > form > div > input{
    padding: 10px;
    width: 93%;
    border-radius: 4px;
    outline: none;
    font-size: medium;
}
